@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MEN&Uuml;</h1>
    <p>Lernen Sie wie man mit <a href="https://docs.microsoft.com/aspnet/core">Webanwendungen in Core baut ..</a>.</p>

    <p> <a asp-action="form">Registrierung als Nutzer </a>   </p>
</div>